// app global css in SCSS form
@font-face {
  font: {
    family: Montserrat;
    display: block;
  }
  src: url('../fonts/montserrat-variablefont_wght-webfont.woff') format('woff');
}

* {
  font-family: Montserrat, sans-serif;
}
